@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --bs-light-rgb:#504f4f !important;
	--bs-danger-bg-subtle:#e19999 !important;
    --bs-btn-bg: #656a6f !important;
}
p {
	font-family: 'Roboto', sans-serif;
}
.text-light {
    color: var(--bs-light-rgb);
	--bs-light-rgb:#504f4f !important;
}

.button-price {
    display: flex;
    align-content: center;
    justify-content: center;
}
.price {
	position: relative;
	top: 8px;
}
.sleva {
	color: var(--bs-danger);
}
.bg-danger-subtle {
	background-color: var(--bs-danger-bg-subtle) !important;
}
.custom-range::-webkit-slider-thumb {
	background-color: #ff5733;
  }

  .custom-range::-moz-range-thumb {
	background-color: #ff5733;
  }

  .custom-range::-ms-thumb {
	background-color: #ff5733;
  }
  .form-check-input:checked {
	background-color: var(--bs-danger);
	border-color: var(--bs-danger);
}
.btn-dark {
	--bs-btn-bg: #656a6f !important;
}
.line {
	height: 1px;
	background-color: rgba(0, 0, 0, 0.175);
}
.skryt-filtr {
	position: relative;
	top: 10px;
}
.px-10 {
	padding-left: 10px;
	padding-right: 10px;
}
@media (max-width:500px) {
	.px-10 {
		font-size: 12px;
	}
}

@media (min-width:768px) {
	.px-10 {
		padding-left: 25px;
		padding-right: 25px;
	}
}
@media (min-width:1000px) {
	.px-10 {
		padding-left: 50px;
		padding-right: 50px;
	}
}
@media (min-width:1200px) {
	.px-10 {
		padding-left: 75px;
	    padding-right: 75px;
	}
}
@media (min-width:1400px) {
	.px-10 {
		padding-left: 100px;
		padding-right: 100px;
	}
}
.pocitani {
	width: 80px;
}
.btn-outline-primary